.transacoesH2 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin: 30px;
}

.transacoesUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.receita, .despesa {
    display: grid;
    width: 450px;
    grid-template-columns: 100px 1fr 100px 37px 37px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2px;
}

.span {
    color: black;
    text-align: center;
    font-size: .9em;
}

.receita {
    border-left: solid 5px rgb(0, 255, 0);
}

.despesa {
    border-left: solid 5px red;
}

.apagar, .resolver {
    padding: 10px;
}

.apagar {
    background-color: red;
}

.apagar:hover {
    background-color: rgb(175, 18, 49);
}

.resolver {
    background-color: rgb(0, 255, 0);
}

.resolver:hover {
    background-color: rgb(2, 218, 2);
}

.none {
    display: none;
}

@media(max-width: 375px) {
    
    .receita, .despesa {
        width: 350px;
        grid-template-columns: 80px 1fr 80px 30px 30px;
    }
} 

/* @media(max-width: 520px) {
    .transacoesUl li {
        font-size: .7em;
        width: 90%;
    }
}*/