:root {
    --cor-receita: rgb(2, 167, 2);
    --cor-despesa: rgb(206, 0, 0);
}

.transacoesH2 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin: 30px;
}

.transacoesUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.receita, .despesa {
    display: grid;
    width: 450px;
    grid-template-columns: 100px 1fr 100px 37px 37px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 4px;
}

.span {
    color: black;
    text-align: center;
    font-size: .9em;
}

.receita {
    border-left: solid 5px var(--cor-receita);
}

.despesa {
    border-left: solid 5px var(--cor-despesa);
}

.apagar, .resolver {
    padding: 10px;
}

.apagar {
    background-color: var(--cor-despesa);
}

.apagar:hover {
    background-color: var(--cor-despesa);
}

.resolver {
    background-color: var(--cor-receita);
}

.resolver:hover {
    background-color: var(--cor-receita);
}

.none {
    display: none;
}

@media(max-width: 375px) {
    
    .receita, .despesa {
        width: 350px;
        grid-template-columns: 80px 1fr 80px 30px 30px;
    }
} 