
.transacoesUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.transacoesH2 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin: 30px;
}

.receita, .despesa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 450px;
    padding: 10px;
    margin: 0 5px 15px 5px;
    border-radius: 0 5px 5px 0;
}

.spanTipo {
    font-size: .8em;
}

.span {
    color: black;
    text-align: center;
    width: 80px;
    font-size: .9em;
}

    /* .spanDesc {
        width: 40%;
    } */


.receita {
    border-left: solid 5px rgb(3, 252, 252);
}

.despesa {
    border-left: solid 5px red;
}

.apagar {
    background-color: crimson;
    padding: 5px;
    width: 30px;
    text-align: center;
    border-radius: 100px;
    box-shadow: -1px 1px 3px black;
}

.apagar:hover {
    background-color: rgb(175, 18, 49);
}

.none {
    display: none;
}

/* @media(max-width: 520px) {
    .transacoesUl li {
        font-size: .7em;
        width: 90%;
    }
}

@media(max-width: 420px) {
    .form .btn {
        width: 150px;
    }

    .card h2 {
        font-size: 1.2em;
    }
} */